$color_new : rgb(255, 219, 219);
$color_inProgress: rgb(255, 242, 219);
$color_feedback: rgb(219, 229, 255);
$color_closed: rgb(229, 255, 219);
div#sidebar{
  display:none;
}

span.popupIssue{
  cursor:pointer;
  z-index:999;
  
}

// Issue list
table.list.issues{
  border-radius:5px;
  box-shadow: 1px -1px 5px 4px rgba(0,0,0,0.09);
  -webkit-box-shadow: 1px -1px 5px 4px rgba(0,0,0,0.09);
  -moz-box-shadow: 1px -1px 5px 4px rgba(0,0,0,0.09);
  font-size: 13px;
  letter-spacing: -0.6px;
  tr{
    &.issue{

      &.assigned-to-me{
       td{
         
         font-weight:bold;
       }
      }

      //Status
      &.status-1{ //New
        background-color:$color_new;
      }

      &.status-2{ //In progress
        background-color:$color_inProgress

      }

      &.status-3{ // (Not in use?)
        background-color:$color_feedback !important;
      }

      &.status-4{ //Feedback 
        background-color:$color_feedback!important;

      }

      &.status-5{ //Closed
        background-color:$color_closed !important;

      }
    }
  }
}


// Agile
td.issue-status-col{
  div.issue-card{
    border-radius:3px;
    box-shadow: 1px -1px 5px 4px rgba(0,0,0,0.09);
    -webkit-box-shadow: 1px -1px 5px 4px rgba(0,0,0,0.09);
    -moz-box-shadow: 1px -1px 5px 4px rgba(0,0,0,0.09);
    font-size: 13px;
    letter-spacing: -0.6px;
  }

  &[data-id="1"]
  {
    div.issue-card{
      background-color:$color_new;
    }
  }

  &[data-id="2"]
  {
    div.issue-card{
      background-color:$color_inProgress;
    }
  }

  &[data-id="4"]
  {
    div.issue-card{
      background-color:$color_feedback !important;
    }
  }

  &[data-id="5"]
  {
    div.issue-card{
      background-color:$color_closed !important;
    }
  }
  
  
  
  
}